#container {
    width: 80%;
    margin: 10px auto;
}
.teacher {
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border-bottom: 1px dashed gray;
    overflow: auto;
}
.teacher div {
    float: left;
}
.photo {
    height: 140px;
    border-radius: 75px;
    overflow: hidden;
    margin-left: 20px;
}
.info {
    width: 75%;
    margin-left: 30px;
}
.info div {
    clear: both;
    margin: 5px 10px;
}
.info span {
    margin-right: 25px;
}
.po {
    position: relative;
}
.user {
    position: absolute;
    right: 0;
    top: 12px;
}
.user a {
    color: #1a73e8;
    font-size: 20px;
    padding-right: 10px;
}
.user a:hover {
    color: #093759;
}
.user+h1 {
    clear: both;
}
#photo {
    border-radius: 32px 32px 32px 32px;
}
.comment>a {
    color: #1a73e8;
    font-size: 20px;
    padding-right: 10px;
}
.comment>a:hover {
    text-shadow: 3px 3px 3px orangered;
}
a {
    color: #1a73e8;
}
a:hover {
    color: #093759;
}